<div class="page" *ngIf="currentChat && currentChat.participants">
  <div class="toolbar-orange" #toolbar>
    <div class="text-left title wrap-45 flex">
      <button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <ul class="options">
          <li *ngIf="currentChat.owner.username === currentUsername"><button (click)="addPerson()">Add person</button> </li>
          <li *ngIf="currentChat.owner.username === currentUsername && currentChat.participants.length!=1"><button (click)="removePerson()">Remove person</button></li>
          <li><button (click)="leaveChat()">Leave chat</button></li>
        </ul>
      </mat-menu>
      <div>
        <p *ngIf="currentChat"> {{currentChat.chatName}}</p>
        <div class="additional-info" *ngIf="currentChat.participants">{{currentChat.participants.length}}</div>
      </div>
    </div>
    <div #music_bar class="music-bar wrap-55 float-right text-right">
      <div class="music-nav">
        <mat-icon (click)="onPrevious(true)">skip_previous</mat-icon>
        <mat-icon (click)="onPlay()" *ngIf="!playIcon">pause</mat-icon>
        <mat-icon (click)="onPlay()" *ngIf="playIcon">play_arrow</mat-icon>
        <mat-icon (click)="onPrevious(false)">skip_next</mat-icon>
      </div>
      <div class="playing-now" (click)="openPlaylist()">
        <div *ngIf="currentTrack">
          {{currentTrack.author}} - {{currentTrack.name}}
        </div>
      </div>
      <button  (click)="openPlaylist()">
        <mat-icon *ngIf="!isOpen">message</mat-icon>
        <mat-icon *ngIf="isOpen">playlist_play</mat-icon>
      </button>
     <!-- <app-playlist [width]="music_bar.offsetWidth" [tracks]="tracks"
                    [type]="type" [player]="player"
                    *ngIf="isOpen" (click)="openPlaylist()"></app-playlist>-->
    </div>
  </div>
  <app-playlist [tracks]="tracks"
                [type]="type" [player]="player" *ngIf="!isOpen"></app-playlist>
  <!--<div  class="chat">-->
    <ul ngx-auto-scroll class="list-msg" *ngIf="currentChat.messages&&isOpen">
      <li [ngClass]="{'chat-message': message.type==='CHAT', 'event-message': message.type!=='CHAT'}" class="chat-message" *ngFor="let message of currentChat.messages">
        <div class="image-msg" *ngIf="message.type==='CHAT'"></div><span *ngIf="message">{{message.sender.username}}</span>
        <div class="text-right float-right additional-info" *ngIf="message">{{message.sendTime | date: 'H:mm'}}</div>
        <p *ngIf="message">{{message.content}}</p>
      </li>
    </ul>
    <form class="message-form" (keyup.enter)="sendMessage()" *ngIf="isOpen">
      <div class="form-group">
        <input [(ngModel)]="messageText" name="messageInput" type="text" placeholder="Write a message" autocomplete="off">
        <button class="absolute">
          <mat-icon class="input-icon-left-bottom rotated-icon" (click)="attachment()">attach_file</mat-icon>
        </button>
        <button (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
<!--</div>-->
<div class="page" *ngIf="!currentChat || !currentChat.participants">
  <app-empty-dialod></app-empty-dialod>
</div>
