<div class="page" *ngIf="currentChat.participants">
  <div class="toolbar-orange">
    <div class="text-left title wrap-45 flex">
      <button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <ul class="options">
          <li><button (click)="addPerson()">Add person</button> </li>
          <li><button (click)="removePerson()">Remove person</button></li>
          <li><button (click)="leaveChat()">Leave chat</button></li>
        </ul>
      </mat-menu>
      <div>
        <p *ngIf="currentChat"> {{currentChat.chatName}}</p>
        <div class="additional-info" *ngIf="currentChat.participants">{{currentChat.participants.length}}</div>
      </div>
    </div>
    <div #music_bar class="music-bar wrap-55 float-right text-right">
      <div class="music-nav">
        <mat-icon>skip_previous</mat-icon>
        <mat-icon>pause</mat-icon>
        <mat-icon class="hidden">play_arrow</mat-icon>
        <mat-icon>skip_next</mat-icon>
      </div>
      <div class="playing-now" (click)="openPlaylist()">
        Author-Song
      </div>
      <button  (click)="openPlaylist()">
        <mat-icon>playlist_play</mat-icon>
      </button>
      <app-playlist [width]="music_bar.offsetWidth" *ngIf="isOpen" (click)="openPlaylist()"></app-playlist>
    </div>
  </div>

  <ul ngx-auto-scroll class="list-msg">
    <li class="chat-message" *ngFor="let message of currentChat.messages">
      <div class="image-msg"></div><span *ngIf="message">{{message.sender.username}}</span>
      <div class="text-right float-right additional-info" *ngIf="message">{{message.sendTime | date: 'h:mm'}}</div>
      <p *ngIf="message">{{message.content}}</p>
    </li>
  </ul>
  <form class="message-form">
    <div class="form-group">
      <input [(ngModel)]="messageText" name="messageInput" type="text" placeholder="Write a message" autocomplete="off">
      <mat-icon class="input-icon-left-bottom rotated-icon">attach_file</mat-icon>
      <button (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
<div class="page" *ngIf="!currentChat.participants">
  <app-empty-dialod></app-empty-dialod>
</div>
