<div class="page">
  <div class="toolbar-orange">
    <div class="text-left title wrap-45">
      <p>{{chat.chatName}}</p>
      <div class="additional-info">0</div>
    </div>
    <div #music_bar class="music-bar wrap-55 float-right text-right">
      <div class="music-nav">
        <mat-icon>skip_previous</mat-icon>
        <mat-icon>pause</mat-icon>
        <mat-icon class="hidden">play_arrow</mat-icon>
        <mat-icon>skip_next</mat-icon>
      </div>
      <div class="playing-now" (click)="openPlaylist()">
        Author-Song
      </div>
      <button  (click)="openPlaylist()">
        <mat-icon>playlist_play</mat-icon>
      </button>
      <app-playlist-page [width]="music_bar.offsetWidth" *ngIf="isOpen" (click)="openPlaylist()"></app-playlist-page>
    </div>
  </div>
  <ul class="list-msg">
    <li class="event-message">Kate joined</li>
    <li class="chat-message">
      <div class="image-msg"></div><span>Author</span><p>Hi</p>
    </li>
  </ul>
  <form class="message-form">
    <div class="form-group">
      <input type="text" placeholder="Write a message" autocomplete="off">
      <mat-icon class="input-icon-left-bottom rotated-icon">attach_file</mat-icon>
      <button (click)="send()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
