@import "../../styles.scss";


.mat-form-field {
  width: 100%;
}

.login-area {
  background-color: $light-grey;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid $light-orange;
  margin-bottom: 45px;
}


mat-icon {
  color: $accent-color;
}

button {
  color: $light-orange;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  border: 4px solid $light-orange;
  margin-bottom: 10px;
}

button:hover {
  color: $accent-color;
  border: 4px solid $accent-color;
}


.btns-area {
  display: grid;
}

a {
  padding: 13px 0 10px;
  color: $addit-light-orange;
}

.accent {
  color: white;
}

.accent:hover {
  border-bottom: 2px solid $accent-color;
}

button:disabled, button:disabled:hover {
  border: 4px solid $btn-disable-orange	;
  color: $btn-disable-orange	;
}

.error {
  color: red;
  font-size: 11px;
  text-align: initial;
}
