<div class="page">
  <mat-drawer-container>

    <div class="toolbar-black">
      <button (click)="drawer.toggle()">
        <mat-icon class="left">menu</mat-icon>
      </button>

      <p class="title">Chats</p>
      <button (click)="createChat()">
        <mat-icon class="right">add_box</mat-icon>
      </button>
    </div>
    <mat-drawer #drawer [mode]="over" (click)="drawer.toggle()"><app-sidenav></app-sidenav></mat-drawer>
    <app-dialog-list-page [chats] = chats></app-dialog-list-page>
  </mat-drawer-container>

</div>
