@import "../../styles.scss";

.card {
  display: flex;
  padding: 20px 16px;
  border-bottom: 1px solid $light-grey;
  background-color: inherit;
}

.name {
  padding-bottom: 10px;
}

.message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  color: $msg-color;
  font-size: 14px;
}

h1 {
  font-size: 16px;
}

.wrap {
  width: 83%;
}

.pre-dialog {
  margin-right: 30px;
}

.active {
  background-color: $light-orange;
}
