@import "../../basis.scss";



.name {
  padding-bottom: 10px;
}

.message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  color: $msg-color;
  font-size: 14px;
}

h1 {
  font-size: 16px;
}

.wrap {
  width: 83%;
}

.pre-dialog {
  margin-right: 30px;
}

.active {
  background-color: $light-orange;
}
