@import "../../styles.scss";

mat-icon{
  font-size: 100px;
  height: auto;
  width: auto;
  padding-bottom: 30px;
  cursor: default;
}

.container {
  padding: 30% 30px 0;
  text-align: center;
}

p {
  color: $msg-color;
}

span {
  color: $accent-color;
}
