<div class="card">
  <div class="image card_image">{{chat.chatName.charAt(0)}}</div>
  <div class="wrap">
    <div class="text-right float-right additional-info" *ngIf="chat.messages && chat.messages[chat.messages.length-1]">
      {{chat.messages[chat.messages.length-1].sendTime | date: 'H:mm'}}
    </div>
    <div class="card__pre-dialog">
      <div class="card__pre-dialog_name"><h1>{{chat.chatName}}</h1></div>
      <div class="card__pre-dialog_message" *ngIf="chat.messages && chat.messages[chat.messages.length-1]">
        <p>{{chat.messages[chat.messages.length-1].content}}</p>
      </div>
    </div>
  </div>
</div>
