<div class="music-nav">
  <ul [style.width.px]="width-30">
    <li class="text-left active-song">
      <div class="float-left">
        <p><span>Author</span> - Song</p>
      </div>
      <div class="float-right text-right additional-info">3:59</div>
    </li>
    <li class="text-left">
      <div class="float-left">
        <p><span>Author</span> - Song</p>
      </div>
      <div class="float-right text-right additional-info">3:59</div>
    </li>
    <li class="text-left">
      <div class="float-left">
        <p><span>Author</span> - Song</p>
      </div>
      <div class="float-right text-right additional-info">3:59</div>
    </li>
    <li class="text-left">
      <div class="float-left">
        <p><span>Author</span> - Song</p>
      </div>
      <div class="float-right text-right additional-info">3:59</div>
    </li>
  </ul>
</div>
