@import "../../styles.scss";

.square {
  width: 143px;
  height: 143px;
  background-color: $background-light-color;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.title {
  color: $light-grey;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 8px;
  text-overflow: ellipsis;
}

.title:hover {
  color: $light-orange;
}

.card {
  display: inline-block;
  width: 25%;
  padding: 16px 5px 5px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  border-bottom: none;
  text-align: -webkit-center;
}

.hover-block {
  background: $light-orange;
  opacity: 0;
  height: 100%;
}

.hover-block:hover {
  opacity: 0.5;
}
