@import "../../basis.scss";

.area {
  background-color: $background-light-color;
  display: flow-root;
}
.search {
  margin: 0 auto 10px;
  max-width: 300px;
  width: 70%;
  padding-top: 10px;

}

input {
  width: 100%;
  height: 32px;
  padding-left: 10px;
}
ul {
  overflow: scroll;
  padding: 10px 0;
  height: 562px;
}
li {
  cursor: pointer;
}

li:hover {
  background-color: $dark-divider-color;
}


.active {
  background-color: $light-orange;
}

