$background-color: #222;
$background-light-color: #EBEBEB;
$light-grey: #F5F5F5;
$left-side-width: 25vw;
$right-side-width: 45vw;
$whole-width: 70vw;
$accent-color: #FF5900;
$msg-color: #464646;
$light-orange: #FFA473;
$addit-light-orange: #FFCDB2;
$dark-divider-color: #D7D7D7;
$addit-info-font-size: 12px;
$btn-disable-orange: #BF8C70;
